<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <stripepay>
                <payment_action>authorize</payment_action><!-- You can use another method like capture  -->
                <model>PhilTurner\StripePay\Model\PaymentMethod</model>
                <active>1</active>
                <title>Stripe Pay</title>
                <order_status>pending_payment</order_status><!-- set default order status-->
            </stripepay>
        </payment>
    </default>
</config>